# Gradle
/build/
.gradle/

# IDE
.idea/
*.iml

# Environment
.direnv
.envrc

# Kotlin/Native
*.kexe
*.klib

# Android SDK
/.android-sdk/
local.properties
.DS_Store
.gitignore

# Kotlin/JS package manager state
kotlin-js-store/*
!kotlin-js-store/yarn.lock
!kotlin-js-store/wasm/
!kotlin-js-store/wasm/yarn.lock
